{% extends 'layout.html' %}
{% if title %}
<title>Sira-{{ title }}</title>
{% else %}
<title>Sira</title>
{% endif %}
{% block content %}
<div class="container">
    <h2>Log in</h2>
        <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <!-- email -->
            {{ form.email.label(class='form-control-label')}}
            {% if form.email.errors %}
                {{ form.email(class='form-control form-control-sm is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                </div>
                {% else %}
                    {{ form.email(class='form-control')}}
                {% endif %}
        </div>
                <div class="form-group">
                <!-- password -->
                {{ form.password.label(class='form-control-label')}}
                {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-sm is-invalid')}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class='form-control form-control-lg')}}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember.label(class='form-check-input') }}
                    {{ form.remember(class='form-check-input') }}
                </div>

        <div class="form-group">
            {{ form.submit(class='btn btn-outline-info')}}
            <small class="text-muted ml-2">
                    <a href="{{ url_for('reset_Password_Request') }}">Forgot Password</a>
                </small>
            </div>
    </form>


    <div class="border-top pt-3">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{{url_for('register')}}">Register Here</a>
        </small>
    </div>
</div>
{% endblock content %}