{% extends 'layout.html' %}
{% if title %}
<title>Sira-{{ title }}</title>
{% else %}
<title>Sira</title>
{% endif %}
{% block content %}
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <!-- firstname -->
            {{ form.firstName.label(class='form-control-label') }}
            {% if form.firstName.errors %}
                {{ form.firstName(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.firstName.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.firstName(class='form-control form-control-lg') }}
                {% endif %}

        </div>
        <div class="form-group">
            <!-- middle name -->
            {{ form.middleName.label(class='form-control-label')}}
            {% if form.middleName.errors %}
                {{ form.middleName(class='form-control form-control-sm is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.middleName.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}

                </div>
                {% else %}
                    {{ form.middleName(class='form-control form-control-lg')}}
                {% endif %}
        </div>
        <div class="form-group">
            <!-- last name -->
            {{ form.lastName.label(class='form-control-label')}}
            {% if form.lastName.errors %}
                {{ form.lastName(class='form-control form-control-sm is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.lastName.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}

                </div>
                {% else %}
                    {{ form.lastName(class='form-control form-control-lg')}}
                {% endif %}
        </div>
        <div class="form-group"></div>
            <!-- email -->
            {{ form.email.label(class='form-control-label')}}
            {% if form.email.errors %}
                {{ form.email(class='form-control form-control-sm is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}


                </div>
                {% else %}
                    {{ form.email(class='form-control')}}
                {% endif %}
            <div class="form-group"></div>
            <!-- password -->
            {{ form.password.label(class='form-control-label')}}
            {% if form.password.errors %}
                {{ form.password(class='form-control form-control-sm is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}

                </div>
                {% else %}
                    {{ form.password(class='form-control form-control-lg')}}
                {% endif %}
        <div class="form-group">
            <!-- confirmpassword -->
            {{ form.confirmPassWord.label(class='form-control-label')}}
            {% if form.confirmPassWord.errors %}
                {{ form.confirmPassWord(class='form-control form-control-sm is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.confirmPassWord.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.confirmPassWord(class='form-control form-control-lg')}}
                {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class='btn btn-outline-info')}}
        </div>
        </div>
    </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have an account <a class="ml-2" href="{{url_for('login')}}">Sign In</a>
        </small>
    </div>
{% endblock %}
